
.checkboxInvalid {
    & span {
        border-color: var(--chakra-colors-red-300);
        transition: border-color 0.25s;
        transition-timing-function: ease-in-out;
    }
}
.checkbox {
    & span {
        transition: border-color 0.4s;
        transition-timing-function: ease-in-out;
    }
}
.check {
    fill: green;
    position: absolute;
    top: 30%;
    right: 20%;
    height:12px;

}